footer
    position absolute
    height 65px
    bottom 0
    left 0
    right 0
    text-align center

    > div
        transparerentBG()

        &:target
            animation-name flash
            animation-duration 1s

.contacts
    padding 15px