inputsTransparency = .25
inputsColor = #fff

.orderForm
    transparerentBG()
    padding 15px

.opaqueBg
    transparerentBG(inputsColor, inputsTransparency)


.innerForm
    input
    textarea
        border none
        width 100%
        outline none
        color #fff
        font-family fontFamilyMain
        font-size fontSizeMain
.name,
.phone
    label
        padding 8px 0
        display inline-block
    input
        float right
        padding 8px
        max-width 870px

.comment
    margin 10px 0

    div
        padding 8px
        margin-top 5px

        .buttons
            margin -8px

    textarea
        height 190px
        padding 0
        resize none
        background none

.buttons
    span
        text-decoration underline
        cursor pointer
    input
        display none

input[type=file]

    +.fileList
        display inline-block

        b
            display inline-block
            margin 0 3px
            transparerentBG(inputsColor, inputsTransparency)
            width 15px
            height 15px
