@media (max-width: 1024px)
        .menu
            margin-top 50px

            li
                font-size 200%

@media (max-width: 800px)
    .menu
        li
            font-size 150%

    #files
        display none

@media (max-width: 600px)
    .wrapper
        width 99%

    header
        h1
            font-size 250%

    .menu
        li
            float none

@media (max-width: 350px)
    header
        h1
            font-size 200%
            margin 15px 0
            text-align center

    .menu
        float none
