footer
	#contacts.contacts
		:markdown-it
			Пишите нам на [verona.mebel@gmail.com](mailto:verona.mebel@gmail.com), задавайте вопросы, оставляйте пожелания

			звоните на т.  #{phone.mobile}

//- script(src='main.js')
