footer
  #contacts.contacts
    :markdown-it
      Пишите нам [verona.mebel@gmail.com](mailto:verona.mebel@gmail.com), оставляйте заказы, задавайте вопросы

      наш инстаграмм [verona_mebel_kg](https://www.instagram.com/verona_mebel_kg)
    p.
      звоните т.  <a href="tel:#{phone.src}">#{phone.mobile}</a>
