footer
  #contacts.contacts
    :markdown-it
      Пишите нам [verona.mebel@gmail.com](mailto:verona.mebel@gmail.com), оставляйте заказы, задавайте вопросы

      звоните т.  [#{phone.mobile}](tel:#{phone.mobile})

      наш инстаграмм [verona_mebel_kg](https://www.instagram.com/verona_mebel_kg/)
