footer
  section(itemscope itemtype="http://schema.org/Organization")#contacts.contacts
    p.
      Пишите нам <a href="mailto:verona.mebel@gmail.com">
        <span itemprop="email">verona.mebel@gmail.com</span>
      </a>, оставляйте заказы, задавайте вопросы
    
    p.
      наш инстаграм <a href="https://www.instagram.com/verona_mebel_kg">
        verona_mebel_kg
      </a>

    p.
      звоните т. <a href="tel:#{phone.src}">
        <span itemprop="telephone">#{phone.mobile}</span>
      </a>

    span(itemprop="name").
      Верона Мебель
    span.
      &nbsp;|&nbsp;
    span(itemprop="address").
      #{address}


