footer
  #contacts.contacts
    :markdown-it
      Пишите нам [verona.mebel@gmail.com](mailto:verona.mebel@gmail.com), задавайте вопросы, оставляйте пожелания

      звоните т.  #{phone.mobile}

//- script(src='main.js')
script #{analytics}
script #{metrika}
#{metrika_no_script}
