header
      h1
        .logo(data-nosnippet) Verona Mebel
        .phone #{phone.mobile}
.clr
ul.menu
  li
    a(href='#about')
      span(data-nosnippet) О Компании
  //- li
  //-   a(href='order-form.html')
  //-     span Заказать
  li
    a(href='#certificates')
      span(data-nosnippet) Сертификаты
  li
    a(href='#contacts')
      span(data-nosnippet) Контакты
.clr
