header
      h1
        .logo Verona Mebel
        .phone #{phone.mobile}
.clr
div(data-nosnippet)
  ul.menu
    li
      a(href='#about')
        span О Компании
    //- li
    //-   a(href='order-form.html')
    //-     span Заказать
    li
      a(href='#certificates')
        span Сертификаты
    li
      a(href='#contacts')
        span Контакты
.clr
