head
  title Качественная корпусная мебель в Кыргызстане г. Бишкек - Verona Мебель
  meta(charset='UTF-8')
  meta(content='Кухни, детские гарнитуры, прихожие, офисы, купе, комоды, встроенные шкафы, спальни, кровати. Современный индивидуальный дизайн, гарантия качества, доставка.', name='description')
  meta(content='Verona Мебель', name='author')
  meta(content='3 days', name='revisit-after')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
  link(href='main.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Alex+Brush', rel='stylesheet')
