head
  title Качественная корпусная мебель Бишкек Кыргызстан
  meta(charset='UTF-8')
  meta(content='Современный индивидуальный дизайн, гарантия качества, доставка. Кухни, детские гарнитуры, прихожие, офисы, купе, комоды, встроенные шкафы, спальни, кровати.', name='description')
  meta(content='Verona Мебель', name='author')
  meta(content='3 days', name='revisit-after')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
  meta(name='yandex-verification' content='232a4c4f798cce7e')
  link(href='main.css', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Alex+Brush', rel='stylesheet')
