extends ./layouts/_default

block content
  div
    :markdown-it
      **ЧП Верона Мебель** предоставляет свои услуги по изготовлению корпусной мебели.

      Нашим клиентам мы предоставляем полный спектр услуг, в них входят: выезд дизайнера на дом, для замеров и выбора модели, доставка и установка мебели.

      Подобрать дизайн желаемой мебели вам помогут
      - Фотографии изготовленной нами мебели.
      - Каталоги европейских производителей мебели.
      - Мы нарисуем предложенные вами идеи на бумаге или в дизайнерской программе PRO100.

      После получения заказа обговариваются сроки изготовления и предоплата, заключается гарантийное соглашение.

      При изготовлении мебели мы используем качественные материалы
      - Фурнитура: Польша, Германия, Турция.
      - Производители МДФ, ЛДСП (ламинат): Польша, Украина, Россия, Эстония. Богатая цветовая палитра на выбор.

    p.
      Звоните по телефону #{phone.mobile}.<br>
      График работы с 09:00 - до 19:00, воскресенье выходной.
    p.
      Встретиться с нами вы можете по адресу #{address}.

    a(href=maplink)
      img.roadmap(src=mapsrc)
