extends /layouts/_default

block content
  .orderForm
    form(name="client", method="POST", action="/mail/send.php")
      .innerForm
        .name
          label(for="name") Имя:
          input#name.opaqueBg(name="client[name]", placeholder="Ваше Имя", autofocus, required)
          .clr
        .phone
          label(for="phone") Телефон:
          input#phone.opaqueBg(name="client[phone]", placeholder="Контактный Телeфон", required)
          .clr
        .comment
          label#comment Комментарий:
            .opaqueBg
              textarea(name="client[commnent]", placeholder="Дополнения, пожелания, контактные данные, емайл, скайп итд...")
            .buttons.opaqueBg
              |Вы можете
              label
                span Прикрeпить файл(ы)
                input(type="file", multiple name="client[files]")
                span.fileList
      .buttons
        label
          span Отправить сообщение
          input(type="submit", value="Отправить")
