extends /layouts/_default

block content
  .orderForm
    form(name="client", method="POST", action="mail/send.php",  enctype="multipart/form-data")
      .innerForm
        .name.textFld
          label(for="name") Имя:
          input#name.opaqueBg(name="name", placeholder="Приятно познакомиться", autofocus, required)
          .clr
        .phone.textFld
          label(for="phone") Телефон:
          input#phone.opaqueBg(name="phone", type="tel", placeholder="Будем на связи")
          .clr
        .email.textFld
          label(for="email") Почта:
          input#email.opaqueBg(name="email", type="email", placeholder="Электронная", required)
          .clr
        .comment
          label#comment Комментарий:
            .opaqueBg
              textarea(name="comment", placeholder="Дополнения, пожелания, дополнительные контакты, скайп и тд...")
            .buttons.opaqueBg
              |Вы можете
              label
                span Прикрeпить файл(ы)
                input(type="file", multiple, name="uploads[]")
                span.fileList
      .buttons
        label
          span Отправить сообщение
          input(type="submit", value="Отправить")
