header
    h1
        font-size 210%
        text-shadow 1px 5px 7px #000
        text-align right
        margin 15px 5px

    .logo
      font-family 'Alex Brush', cursive
      font-size 250%

    a
        text-decoration none
        color #fff

    a:hover
        text-decoration none

.phone
    font-weight 300

.menu
    list-style none
    margin 100px 0 0
    padding 0

    a
        color #fff
        &:hover
            text-decoration none
            color colorLinks

    li
        transparerentBG()
        float left
        margin 0 0 1px 1px
        font-size 1.5em
        width calc(100%/3 - 1px)
        text-align center
        padding 10px 0

        &:first-child
            margin-left 0

