html,
body
    font-family fontFamilyMain
    font-size fontSizeMain
    color #fff
    padding 0
    margin 0
    height 100%

a
    color colorLinks
    text-decoration none

    &:hover
        text-decoration underline

#mainHolder
    z-index 10

#mainBody
    transparentBG()

.wrapper
    position relative
    margin 0 auto
    width 80%
    max-width 1900px
    min-height 100%

    .wrapper
        width 100%

section
    padding-bottom 66px

    > div
        transparerentBG()
        padding 15px

        &:target
            animation-name flash
            animation-duration 1s

.roadmap
    display block
    margin 20px auto
    max-width 100%

.certificates
  text-align center
.cert
  width 32%
  margin-left 1%

  &:first-child
    margin-left 0
