@media (max-width: 1024px)
    .menu
        margin-top 50px

        li
            font-size 1.3em
    .cert
      width 40%

@media (max-width: 800px)
    .menu
        li
            font-size 1.2em
    #showWallpaper,
    #showWallpaperLbl
        display none
    #files
        display none

@media (max-width: 600px)
    .wrapper
        width 99%

    header
        h1
            font-size 150%
            text-align center

    .menu
        li
            float none
            width 100%
    .cert
      width 100%
      margin-left 0
