colorLinks = #08FCF8
colorHeader = #eee
colorHeaderNews = #999
colorHelperText = #999
colorFlash = #fff
colorBG = #000

widthPage = 955px
widthMainColumn = 650px

fontFamilyMain = Verdana, Geneva, sans-serif
fontSizeMain = 15px


// helpers
transparerentBG(_colorBG = colorBG, opacity = .4)
    background #000
    background rgba(_colorBG, opacity)

.clr
    clear both

@keyframes flash
    from
        background rgba(colorFlash, .9)
