#showWallpaper
    display none

    &:checked
        + #showWallpaperLbl
            b
                display inline
            strong
                display none

        ~ #mainHolder
            display none

#showWallpaperLbl
    transparerentBG()
    position fixed
    top 0
    left 0
    z-index 30
    cursor pointer

    &:hover
        ~ #mainHolder
            opacity .4

    b
        display none

.wallPaper
    background-image url(/1.jpg)
    background-repeat no-repeat
    background-position 50% 0
    background-size cover
    background-attachment fixed
    position absolute
    position fixed
    top 0; right 0; bottom 0; left 0
    z-index 0
