---
import { getEntry } from "astro:content";
import Certificates from "../components/Certificates.astro";
import Main from "../layouts/Main.astro";

const post = await getEntry("pages", "index");
---

<Main post={post}>
  <Certificates />
</Main>
