---
import Main from "../layouts/Main.astro";
---

<Main
  title="Качественная корпусная мебель Бишкек Кыргызстан"
  description="Современный индивидуальный дизайн, гарантия качества, доставка. Кухни, детские гарнитуры, прихожие, офисы, купе, комоды, встроенные шкафы, спальни, кровати."
>
  <p>
    <strong>ЧП Верона Мебель</strong> предоставляет услуги по изготовлению качественной
    корпусной мебели в городе Бишкек.
  </p>
  <p>
    С успешным опытом на рынке Кыргызстана <a
      href="https://diesel.elcat.kg/index.php?showtopic=3179671">более 10 лет</a
    > по Чуйской и Иссык-Кульской областям наша компания предоставляет полный спектр
    услуг, в них входят: выезд дизайнера на дом для замеров и выбора модели, доставка
    и установка мебели, а так же:
  </p>
  <p>Подбор дизайна желаемой мебели</p>
  <ul>
    <li>Фотографии изготовленной нами мебели.</li>
    <li>Каталоги европейских производителей.</li>
    <li>Разработка дизайна по вашему вкусу.</li>
  </ul>
  <p>
    После получения заказа обговариваются сроки изготовления и предоплата.
    Заключается гарантийное соглашение.
  </p>
  <p>При изготовлении мебели мы используем качественные материалы</p>
  <ul>
    <li>Фурнитура: Польша, Германия, Турция.</li>
    <li>
      Производители МДФ, ЛДСП (ламинат): Польша, Украина, Россия, Эстония.
    </li>
    <li>Богатая цветовая палитра на выбор.</li>
  </ul>
</Main>
