---
import certOne from "../assets/1.jpg";
import certTwo from "../assets/2.jpg";
import certThree from "../assets/3.jpg";
---

<div id="certificates" class="certificates slot">
  <img alt="Сертификат" class="cert" src={certOne} />
  <img alt="Сертификат" class="cert" src={certTwo} />
  <img alt="Сертификат" class="cert" src={certThree} />
</div>

<style>
  /* Certificates */
  .certificates {
    margin: 1px 0;
    text-align: center;
  }

  .cert {
    width: 32%;
    margin-left: 1%;
  }

  .cert:first-child {
    margin-left: 0;
  }
</style>
