---
import { Image } from "astro:assets";

import certOne from "~/assets/certificates/1.jpg";
import certTwo from "~/assets/certificates/2.jpg";
import certThree from "~/assets/certificates/3.jpg";
---

<div id="certificates" class="certificates slot">
  <Image alt="Сертификат" class="cert" src={certOne} format="webp" />
  <Image alt="Сертификат" class="cert" src={certTwo} format="webp" />
  <Image alt="Сертификат" class="cert" src={certThree} format="webp" />
</div>

<style>
  /* Certificates */
  .certificates {
    margin: 1px 0;
    text-align: center;
  }

  .cert {
    width: 32%;
    height: 100%;
    margin-left: 1%;
  }

  .cert:first-child {
    margin-left: 0;
  }

  @media (max-width: 1024px) {
    .cert {
      width: 40%;
    }
  }

  @media (max-width: 600px) {
    .cert {
      width: 100%;
      margin-left: 0;
    }
  }
</style>
