---
import Map from "../components/Map.astro";
import Vcard from "./Vcard.astro";
---

<footer itemscope itemtype="http://schema.org/Organization">
  <section id="contacts" class="contacts">
    <p>
      Пишите <a href="mailto:verona.mebel@gmail.com"
        ><span itemprop="email">verona.mebel@gmail.com</span>
      </a> оставляйте заказы, задавайте вопросы
    </p>
    <p>
      телефон <a href="tel:+996555684568">
        <span itemprop="telephone">+996 (555) 68 45 68</span>
      </a>
      <span class="footer-separator">&nbsp;|&nbsp;</span>
      whatsapp <a
        href="https://api.whatsapp.com/send/?phone=996555684568&text=Здравствуйте%2C+у+меня+есть+вопрос"
        >+996 (555) 68 45 68</a
      >
      <span class="footer-separator footer-separator-insta">&nbsp;|&nbsp;</span>
      инстаграм <a href="https://www.instagram.com/verona_mebel_kg">
        verona_mebel_kg
      </a>
    </p>
    <div class="contacts-bottom">
      <div class="contacts-bottom-main">
        <Map />
      </div>
      <div class="contacts-bottom-second">
        <p>Электронная визитка</p>
        <Vcard />
        <p>
          Сканировать <br /> или <a
            href="/vcard/vcard.vcf"
            title="визитка vcard"
            download="алексей-верона-мебель.vcf">загрузить</a
          >
        </p>
      </div>
    </div>
  </section>
  <section class="contacts">
    <span itemprop="name">Верона Мебель</span>
    <span>&nbsp;|&nbsp;</span>
    <span itemprop="address"
      >Кыргызстан, г. Бишкек Октябрьский район, улица Кулатова 1/1a 1 этаж</span
    >
    <p>График работы с 09:00 - до 19:00, воскресенье выходной</p>
  </section>
</footer>

<style>
  /* Footer */
  footer {
    text-align: center;
    padding-bottom: 2px;
  }

  footer > section {
    background-color: var(--bg-color-opacity);
  }

  footer > section:target {
    animation-name: flash;
    animation-duration: 1s;
  }

  .contacts {
    padding: 15px 15px;
    margin: 1px 0 0;
    + .contacts {
      padding-bottom: 45px;
    }
  }

  .vcard-qr {
    filter: opacity(0.8) contrast(100%);
    width: 200px;
    height: 200px;
  }

  .contacts-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
  }

  .contacts-bottom-main {
    align-self: center;
  }

  .contacts-bottom-second {
    white-space: nowrap;
  }

  hr {
    filter: opacity(0.3);
  }

  @media (max-width: 1170px) {
    .footer-separator-insta {
      display: block;
      color: transparent;
      line-height: 0.5;
    }
  }

  @media (max-width: 1024px) {
    .contacts-bottom {
      flex-direction: column-reverse;
      gap: 0;
    }
  }

  @media (max-width: 795px) {
    .footer-separator {
      display: block;
      color: transparent;
      line-height: 0.5;
    }
  }
</style>
