<header>
  <h1>
    <div class="logo" data-nosnippet>Verona Mebel</div>
    <div class="phone">+996 (555) 68 45 68</div>
  </h1>
</header>
<div class="clr"></div>
<style>
  /* Header */
  header h1 {
    font-size: 210%;
    text-shadow: 1px 5px 7px var(--color-bg);
    text-align: right;
    margin: 15px 5px;
  }

  header .logo {
    font-family: "Alex Brush", cursive;
    font-size: 250%;
  }

  header a {
    text-decoration: none;
    color: #fff;
  }

  header a:hover {
    text-decoration: none;
  }

  .phone {
    font-weight: 300;
  }
</style>
