---
import logo from "../assets/logo.png";
---

<header>
  <h1>
    <div
      style_="width: 472px;padding-right: 13px;"
      id="image-wrap"
      class="logo"
      data-nosnippet
    >
      Verona Mebel
    </div>
    <img class="logo" alt="Verona Mebel" width="485" src={logo} />
    <div class="phone">+996 (555) 68 45 68</div>
  </h1>
</header>
<div class="clr"></div>
<style is:global>
  /* Header */
  header h1 {
    font-size: 210%;
    text-shadow: 1px 5px 7px var(--bg-color);
    text-align: right;
    margin: 15px 5px;
  }

  header .logo {
    font-family: "Alex Brush", cursive;
    font-size: 250%;
  }

  header a {
    text-decoration: none;
    color: #fff;
  }

  header a:hover {
    text-decoration: none;
  }

  .phone {
    font-weight: 300;
  }
</style>
<script is:raw src="https://html2canvas.hertzen.com/dist/html2canvas.js"
></script>
<script is:raw>
  html2canvas(document.getElementById("image-wrap"), {
    backgroundColor: null,
  }).then(function (canvas) {
    document.body.appendChild(canvas);
  });
</script>
