---
import { Image } from "@astrojs/image/components";
---

<header>
  <h1>
    <Image
      class="logo"
      alt="Verona Mebel"
      width="692"
      height="236"
      src="/src/assets/logo.png"
      format="webp"
    />
    <div class="phone">+996 (555) 68 45 68</div>
  </h1>
</header>
<div class="clr"></div>
<style is:global>
  /* Header */
  header h1 {
    font-size: 210%;
    text-shadow: 1px 5px 7px var(--bg-color);
    text-align: right;
    margin: 15px 5px;
  }

  header .logo {
    width: 100%;
    max-width: 485px;
  }

  header a {
    text-decoration: none;
    color: #fff;
  }

  header a:hover {
    text-decoration: none;
  }

  .phone {
    font-weight: 300;
  }
</style>
