<a
  href="https://maps.google.com/maps?expflags=enable_star_based_justifications:true&ie=UTF8&cid=17452686713591379491&q=Verona+%D0%9C%D0%B5%D0%B1%D0%B5%D0%BB%D1%8C&iwloc=A"
  ><img
    src="https://maps.googleapis.com/maps/api/staticmap?center=42.86084750459291,74.61916751779304&markers=color:red|label:VM|42.86082817103534,74.62424729700155&zoom=15&size=640x300&maptype=roadmap&map_id=798e4870bdbaa618&key=AIzaSyAyAg1_pM-lBrHrLElNyozvSUK5qWwsJB8"
    class="roadmap"
  />
</a>
<style>
  /* Map */
  .roadmap {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
</style>
