---
const site = Astro.site;
---

<nav>
  <ul class="menu">
    <li>
      <a href={`${site}корпусная-мебель-в-бишкеке/#main`}
        ><span data-nosnippet>О Компании</span></a
      >
    </li>
    <li>
      <a href={`${site}#certificates`}
        ><span data-nosnippet>Сертификаты</span></a
      >
    </li>
    <li>
      <a href={`#contacts`}><span data-nosnippet>Контакты</span></a>
    </li>
  </ul>
</nav>

<style is:global>
  /* Menu */
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu a {
    color: var(--font-color);
  }

  .menu a:hover {
    text-decoration: none;
    color: var(--link-color);
  }

  .menu li {
    background-color: var(--bg-color-opacity);
    margin: 0 0 1px 1px;
    font-size: 1.5em;
    width: calc((100% - 2px) / 3);
    text-align: center;
    padding: 10px 0;
  }

  .menu li:first-child {
    margin-left: 0;
  }
</style>
