---
import Wallpaper from "../components/Wallpaper.astro";
import Certificates from "../components/Certificates.astro";
import Footer from "../components/Footer.astro";
import TopNav from "../components/TopNav.astro";
import Header from "../components/Header.astro";
import Analytics from "../components/Analytics.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="yandex-verification" content="232a4c4f798cce7e" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Verona Mebel" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//mc.yandex.ru" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{frontmatter.title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
  </head>
  <body class="page">
    <Analytics />
    <Wallpaper />
    <main id="main-holder" class="wrapper">
      <Header />
      <TopNav />
      <section id="main" class="slot">
        <slot />
      </section>
      <Certificates />
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  @keyframes flash {
    from {
      background-color: var(--flash-color-opacity);
    }
  }

  @keyframes breath {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    95% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
  }
  :root {
    --layout-width: 1100px;

    --flash-color: #fff;
    --flash-color-opacity: rgba(255, 255, 255, 0.9);
    --flash-animation-duration: 1s;
    --flash-animation-name: flash;

    --wallpaper-animation-duration: 15s;
    --wallpaper-animation-name: breath;

    --bg-color: #000;
    --bg-color-opacity: rgba(0, 0, 0, 0.7);
    --bg-color-opacity-light: rgba(0, 0, 0, 0.1);

    --font-family-main: Verdana, Geneva, sans-serif;
    --font-size-main: 18px;
    --font-color: #fff;

    --link-color: #08fcf8;
  }

  html,
  body {
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    color: var(--font-color);
    padding: 0;
    margin: 0;
    height: 100%;
  }

  a {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Layout */
  .wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: var(--layout-width);
    min-height: 100%;
  }

  .slot {
    background-color: var(--bg-color-opacity);
    padding: 15px;
  }

  .slot:target {
    animation: var(--flash-animation-name);
    animation-duration: var(--flash-animation-duration);
  }

  /* Responsive */
  @media (max-width: 1024px) {
    .menu {
      margin-top: 50px;
    }
    .menu li {
      font-size: 1.3em;
    }
    .cert {
      width: 40%;
    }
  }

  @media (max-width: 800px) {
    .menu li {
      font-size: 1.2em;
    }
  }

  @media (max-width: 600px) {
    .wrapper {
      width: 99%;
    }

    header h1 {
      font-size: 150%;
      text-align: center;
    }

    .menu {
      flex-direction: column;
    }
    .menu li {
      float: none;
      width: 100%;
      margin: 0 0 1px 0;
    }

    .menu li a {
      display: block;
    }

    .cert {
      width: 100%;
      margin-left: 0;
    }

    header {
      margin-top: 85px;
    }

    #show-wallpaper-lbl {
      width: 100%;
    }
    #show-wallpaper-lbl > div {
      padding: 12px;
      margin: 1px 2px;
    }

    #show-wallpaper-lbl:hover ~ #main-holder {
      opacity: 1;
    }

    .phone {
      font-weight: 600;
    }
  }
</style>
