footer
	#contacts.contacts
		:markdown-it
			Пишите нам на [hi@mebel.com.kg](mailto:hi@mebel.com.kg), задавайте вопросы, оставляйте пожелания

			на facebook [veronamebel](http://facebook.com/veronamebel)

			twitter [@veronamebel](http://twitter.com/veronamebel)

			звоните на т.  #{phone.mobile}, обращайтесь в skype [veronamebel](skype:veronamebel)

script(src='main.js')
