header
      h1
        a(href='/') Verona Mebel
          .phone +996 #{phone.mobile}
.clr
ul.menu
  li
    a(href='index.html')
      span Главная
  li
    a(href='order-form.html')
      span Заказать
  li
    a(href='#contacts')
      span Контакты
.clr
